<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-white sticky-top py-2">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center fw-bold" th:href="@{/}">
            <i class="fa-solid fa-door-open fs-3 me-2" style="color: #FF385C;"></i>
            <span class="fs-4 tracking-tight" style="color: #FF385C; font-weight: 800; letter-spacing: -0.5px;">openHouse</span>
        </a>

        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-center gap-1">
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" th:href="@{/listings}">Propiedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" th:href="@{/bookings}">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" th:href="@{/reviews}">Reseñas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" th:href="@{/conversation}">Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" th:href="@{/amenity}">Comodidades</a>
                </li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-airbnb-outline px-4 py-2" th:href="@{/listings/new}">Anunciar tu casa</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>